<%= semantic_form_for [:admin, @client] do |f| %>

    <%= f.inputs do %>
        <%= f.input :name, input_html: { class: "campo20" } %>
        <%= f.input :cpf, input_html: { class: "cpf campo10" } %>
        <%= f.input :phone, input_html: { class: "campo10" } %>
    <% end %>
    <%= f.actions %>

    <% if @client.present? %>

        <div class="div-separar clear-both">&nbsp;</div>

        <table class="index_table">
          <thead>
          <tr>
            <th>Saida</th>
            <th>Destino</th>
            <th>Data de saida</th>
            <th>Data de chegada</th>
            <th>Situação</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <%  @client.freights.each do |freight| %>
              <tr>
                <td><%= freight.origin %></td>
                <td><%= freight.destination %></td>
                <td><%= DateHelper.format_date(freight.exitDate) %></td>
                <td><%= DateHelper.format_date(freight.arrivalDate) %></td>
                <td><%= freight.situation %> </td>
                <td><%= link_to "edit", edit_admin_freight_path(freight) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>

<% end %>