<%= semantic_form_for [:admin, @truck] do |f| %>

    <%= f.inputs do %>
        <%= f.input :board %>
    <% end %>
    <%= f.actions %>

    <% if @truck.present? %>

        <div class="div-separar clear-both">&nbsp;</div>

        <table class="index_table">
          <thead>
          <tr>
            <th>Saida</th>
            <th>Destino</th>
            <th>Data de saida</th>
            <th>Data de chegada</th>
            <th>Quantidade de KM</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <%  @truck.freights.each do |freight| %>
              <tr>
                <td><%= freight.origin %></td>
                <td><%= freight.destination %></td>
                <td><%= DateHelper.format_date(freight.exitDate) %></td>
                <td><%= DateHelper.format_date(freight.arrivalDate) %></td>
                <td><%= freight.distanceKm %></td>
                <td><% link_to "edit", edit_admin_freight_path(freight) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>
<% end %>