<br clear="all">
<h3>Relatório Geral Transações</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data</th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Tipo<th>
    <th>Valor</th>
  </tr>
  </thead>

  <tbody>
    <% if @transation.present? %>
      <% @transations.each do |transation| %>
          <tr>
            <td><%= transation["dateTransation"] %></td>
            <td><%= transation["truck"] %></td>
            <td><%= transation["description"] %></td>
            <td>><%= transation.["type"] ? "Entrada" : "Saida" %>
            <td><%= transation["value"] %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="index_table campo70">
  <thead>
  <tr>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Liquido</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @in %></td>
        <td><%= @out %></td>
        <td><%= @liquid %></td>
      </tr>
  </tbody>

</table>