<br clear="all">
<h3>Relatório Geral de sáida com fretes</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data</th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Referente ao</th>
  </tr>
  </thead>

  <tbody>
    <% if @freights_spent.present? %>
      <% @freights_spent.each do |freight| %>
          <tr>
            <td><%= (DateHelper.format_date(freight["exitDate"])) + " - " + (DateHelper.format_date(freight["arrivalDate"])) %></td>
            <td><%= freight.truck.board if freight.truck.present? %></td>
            <td><%= freight["description"] %></td>
            <td><%= freight["spent"] %></td>
            <td><%= link_to "frete de #{freight["origin"]} - #{freight["destination"]}, #{freight["client"]["name"]}", edit_admin_freight_path(freight["id"]) %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Relatório Geral de entradas com fretes</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data</th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Referente ao</th>
  </tr>
  </thead>

  <tbody>
  <% if @freights_receipt.present? %>
      <% @freights_receipt.each do |freight| %>
          <tr>
            <td><%= (DateHelper.format_date(freight["exitDate"])) + " - " + (DateHelper.format_date(freight["arrivalDate"])) %></td>
            <td><%= freight.truck.board if freight.truck.present? %></td>
            <td><%= freight["description"] %></td>
            <td><%= freight["spent"] %></td>
            <td><%= link_to "frete de #{freight["origin"]} - #{freight["destination"]}, #{freight["client"]["name"]}", edit_admin_freight_path(freight["id"]) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<table class="index_table campo70">
  <thead>
  <tr>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Liquido</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= "199" %></td>
        <td><%= "200" %></td>
        <td><%= "-1" %></td>
      </tr>
  </tbody>

</table>