<br clear="all">
<h3>Relatório Geral Transações</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data</th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th>Referente ao</th>
  </tr>
  </thead>

  <tbody>
    <% if @transations.present? %>
      <% @transations.each do |transation| %>
          <tr>
            <td><%= DateHelper.format_date(transation["dateTransation"]) %></td>
            <td><%= transation.truck.board if transation.truck.present? %></td>
            <td><%= transation["description"] %></td>
            <td><%= (transation["type_transation"] ? "Entrada" : "Saida") %>
            <td><%= transation["value"] %></td>
            <% if transation["objectName"] == "Freight" %>
                <td><%= link_to "frete", edit_admin_freight_path(transation["objectId"]) %></td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="index_table campo70">
  <thead>
  <tr>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Liquido</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @in %></td>
        <td><%= @out %></td>
        <td><%= @liquid %></td>
      </tr>
  </tbody>

</table>