<br clear="all">
<h3>Fretes - saídas</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data de chegada</th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Referente ao</th>
  </tr>
  </thead>

  <tbody>
    <% if @freights_spent.present? %>
      <% @freights_spent.each do |freight| %>
          <% client_name = freight.client.name if freight.client.present? %>
          <tr>
            <td><%= (DateHelper.format_date(freight["arrivalDate"])) %></td>
            <td><%= freight.truck.board if freight.truck.present? %></td>
            <td><%= freight["description"] %></td>
            <td><%= freight["spent"] %></td>
            <td><%= link_to "frete de #{freight["origin"]} - #{freight["destination"]}, #{client_name}", edit_admin_freight_path(freight["id"]) %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Fretes - entradas</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data de chegada</th>
    <th>Data do recebimento </th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Referente ao</th>
  </tr>
  </thead>

  <tbody>
  <% if @freights_receipt.present? %>
      <% @freights_receipt.each do |freight| %>
            <% client_name = freight.client.name if freight.client.present? %> 
          <tr>
            <td><%= (DateHelper.format_date(freight["arrivalDate"])) %></td>
            <td><%= (DateHelper.format_date(freight["receipt_date"])) %></td>
            <td><%= freight.truck.board if freight.truck.present? %></td>
            <td><%= freight["description"] %></td>
            <td><%= freight["valueKm"]*freight["distanceKm"] %></td>
            <td><%= link_to "frete de #{freight["origin"]} - #{freight["destination"]}, #{client_name}", edit_admin_freight_path(freight["id"]) %></td>
            <% @freights_receipt_total += freight["valueKm"]*freight["distanceKm"] %>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<h3>Resumo dos fretes</h3>
<table class="index_table campo70">
  <thead>
  <tr>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Liquido</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @freights_receipt_total %></td>
    <td><%= @freights_spent_total %></td>
    <td><%= @freights_receipt_total - @freights_spent_total  %></td>
  </tr>
  </tbody>

</table>

<h3>Gastos com caminhões</h3>
<table class="index_table campo70">

  <thead>
  <tr>
    <th>Data</th>
    <th>caminhão</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Referente ao</th>
  </tr>
  </thead>

  <tbody>
  <% if @spents.present? %>
      <% @spents.each do |spent| %>
          <tr>
            <td><%= (DateHelper.format_date(spent["date_spent"])) %></td>
            <td><%= spent.truck.board if spent.truck.present? %></td>
            <td><%= spent["description"] %></td>
            <td><%= spent["value"]%></td>
            <td><%= link_to "Gasto de identificador #{spent["id"]}", edit_admin_spent_path(spent["id"]) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

