<%= semantic_form_for [:admin, @motorist] do |f| %>

    <%= f.inputs do %>
        <%= f.input :name, input_html: { class: "campo20" } %>
        <%= f.input :cpf, input_html: { class: "cpf campo10" } %>
        <%= f.input :phone, input_html: { class: "phone campo10" } %>
    <% end %>
    <%= f.actions %>

    <% if @motorist.paid_motorists.present? %>

        <div class="div-separar clear-both">&nbsp;</div>

        <h3> Pagamentos</h3>

        <table class="index_table">
          <thead>
          <tr>
            <th>Data</th>
            <th>Valor</th>
          </tr>
          </thead>
          <tbody>
          <% @motorist.paid_motorists.order(date: :desc).each do |f|%>
              <tr>
                <td><%= DateHelper.format_date(f.date) %></td>
                <td><%= f.value %></td>
              </tr>
          <%end%>
          </tbody>
        </table>
    <%end%>

    <% if @motorist.valleys.where(:status=>false).present? %>
        
        <h3>Vales</h3>
        <table class="index_table">
          <thead>
          <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <%  @motorist.valleys.where(:status=>false).each do |valley| %>
              <tr>
                <td><%= DateHelper.format_date(valley.date) %></td>
                <td><%= valley.value %></td>
                <td><%= valley.description %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <%end%>
         <br>
    <% if @motorist.present? %>
        <h3>Fretes</h3>
        <table class="index_table">
          <thead>
          <tr>
            <th>Saida</th>
            <th>Destino</th>
            <th>Data de saida</th>
            <th>Data de chegada</th>
            <th>Motorista pago</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <%  @motorist.freights.each do |freight| %>
              <tr>
                <td><%= freight.origin %></td>
                <td><%= freight.destination %></td>
                <td><%= DateHelper.format_date(freight.exitDate) %></td>
                <td><%= DateHelper.format_date(freight.arrivalDate) %></td>
                <td><%= StatusHelper::PAID_DRIVER[freight.paidDriver] %></td>
                <td><%= link_to "editar", edit_admin_freight_path(freight) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>
<% end %>
