<%= semantic_form_for @motorist, :url => admin_motorist_paid_step_2_path, :method => :post,
                      :html => { :target => :_blank } do |f| %>
    <%= f.inputs do %>
        <%= f.input :truckId, :as => :select, :collection => Truck.all.map{|b| [b.board,b.id]} %>
        <%= f.input :id, input_html: { class: 'campo10', value: @motorist.id },  as: :hidden %>
        <%= f.input :salary, input_html: { class: 'campo10' } %>
        <%= f.input :percentage, :input_html => {class: "campo10"} %>
        <%= f.input :value_total_freight, :input_html => { class: "input-non-edit campo10", :readonly => true, value: @value_total } %>
        <%= f.input :total, :input_html => { class: "input-non-edit campo10", :readonly => true} %>
        <%= f.input :total_valley, :input_html => { class: "input-non-edit campo10", :readonly => true, value: @total_valley } %>
        <%= f.actions do %>
            <%= f.action :submit, :label => I18n.t('button.paid_confirm') %>
        <% end %>
    <% end %>

  <% if @motorist.valleys.where(:status=>false).present? %>
    <h3>Vales</h3>
    <table class="index_table">
      <thead>
      <tr>
        <th>Data</th>
        <th>Valor</th>
        <th>Descrição</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%  @motorist.valleys.where(:status=>false).each do |valley| %>
          <tr>
            <td><%= DateHelper.format_date(valley.date) %></td>
            <td><%= valley.value %></td>
            <td><%= valley.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <%end%>
     

    <h3>Fretes</h3>
    <table class="index_table">
      <thead>
      
      <tr>
        <th>Cliente</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Data de Saida</th>
        <th>Data de Chegada</th>
        <th>Valor do frete</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @freights.each do |freight| %>
          <tr>
            <td><%= link_to freight.client.name, edit_admin_client_path(freight.client) %></td>
            <td><%= freight.origin %></td>
            <td><%= freight.destination %></td>
            <td><%= DateHelper.format_date(freight.exitDate) %></td>
            <td><%= DateHelper.format_date(freight.arrivalDate) %></td>
            <td><%= (freight.valueKm * freight.distanceKm) %></td>
            <td><%= link_to "editar", edit_admin_freight_path(freight.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>