<%= semantic_form_for [:admin, @freight] do |f| %>

    <%= f.inputs do %>
        <%= f.input :motorist, :as => :select, :collection => Motorist.where(:type_person => 1) %>
        <%= f.input :client, :as => :select, :collection => Client.where(:type_person => 2) %>
        <%= f.input :truck, :as => :select, :collection => Truck.all.map{|b| [b.board,b.id]} %>
        <%= f.input :origin, input_html: { class: "campo20" } %>
        <%= f.input :destination, input_html: { class: "campo20" } %>
        <%= f.input :valueKm, input_html: { class: "campo20" } %>
        <%= f.input :distanceKm, input_html: { class: "campo20" } %>
        <%= f.input :description, as: :text, input_html: { class: "campo20", rows: 5,
                                                           onkeyup: "maxLengthText(this);", maxlength: "1000" }, :hint=> "<span id=\"contador\"></span>".html_safe %>
        <%= f.input :situation, input_html: { class: "campo20" } %>
        <%= f.input :spent, input_html: { class: "campo20" } %>
        <%= f.input :descriptionSpent, input_html: { class: "campo20", rows: 5,
                                                     onkeyup: "maxLengthText(this);", maxlength: "1000" }, :hint=> "<span id=\"contador\"></span>".html_safe %>
        <%= f.input :numberHead, input_html: { class: "campo20" } %>
        <%= f.input :exitDate, :as => :string, :input_html => {class: "campo10 input_date_picker", value: DateHelper.format_date2(f.object.exitDate)}  %>
        <%= f.input :arrivalDate, :as => :string, :input_html => {class: "campo10 input_date_picker", value: DateHelper.format_date2(f.object.arrivalDate)}  %>
    <% end %>
    <%= f.actions %>
<% end %>